@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    IKON Solutions<br />
    Wausau, WI 9089-54401<br />
    <abbr title="Phone">P:</abbr>
    715.571.8244
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">konvang6@students.ntc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">vangko@ntc.edu</a>
</address>
