<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TaxRate" value="0.055"/>
  </appSettings>
  <entityFramework>
    <contexts>
      <context type="OrderEntryDataAccess.OrderEntryContext, OrderEntryDataAccess">
        <databaseInitializer type="OrderEntryDataAccess.OrderEntryInitializer, OrderEntryDataAccess" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OrderEntryContext" connectionString="Data Source=ITSTUDENT.ntc.edu;Initial Catalog=0495_314_OrderEntrySystem_Vang;User ID=vsorange;Password=orange" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>