@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p style="color: white;">Use this area to provide additional information.</p>
<p style="color: white;">KonMong Vang's First ASP.NET Application</p>