@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address style="color: white;">
    KonMong Vang<br />
    1000 West Campus Drive<br />
    Wausau, WI 54401<br />
    <abbr title="Phone">P:</abbr>
    715.555.5555
</address>

<address style="color: white;">
    <strong>Support:</strong> <a href="mailto:konvang@example.com">konvang@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:konvang@example.com">konvang@example.com</a>
</address>
