
@{
    ViewData["Title"] = "Eatery";
}

<h2>Eatery</h2>
<li>Masa Sushi Grill and Bar</li>
<li>Milkwaukee Burger Company</li>
<li>Great Dane</li>
<li>Redeye</li>
<li>Wausau Mine Company</li>

<h2>Eateries in Wausau, WI</h2>
<img src="~/images/masa.jpg" alt="Masa Sushi Grill and Bar, Wausau, WI" style="height: 150px; width:250px; border-width:2px;" />
<img src="~/images/milkwaukeeburgerco.jpg" alt="Milwaukee Burger, Wausau, WI" style="height: 150px; width:250px; border-width:2px;" />
<img src="~/images/GreatDanes.jpg" alt="Great Danes, Wausau, WI" style="height: 150px; width:250px; border-width:2px;" />
<br/>
<img src="~/images/redeye.jpg" alt="Red Eye, Wausau, WI" style="height:150px; width:250px; border-width: 2px; padding-top: 4px;" />
<img src="~/images/wausaumineco.jpg" alt="Wausau Mine Co, Wausau, WI" style="height:150px; width:250px; border-width: 2px; padding-top: 4px;" />

<h2>Following Pictures were from these sources:</h2>

<li>https://facebook.com/</li>
<li>https://localfreshies.com/</li>
<li>https://www.wausaudailyherald.com/</li>
<li>https://www.theodysseyonline.com/</li>
<li>https://www.wausaumine.com/</li>