
@{
    ViewData["Title"] = "Entertainment";
}

<h2>Entertainment</h2>
<li>Wausau on Water (WOW)</li>
<li>Marcus Theaters</li>
<li>Grand Lodge WaterPark Resort</li>
<li>Live Concerts</li>
<li>Balloon Fest/Rally</li>

<h2>Entertainments in Wausau, WI</h2>
<img src="~/images/WOW.jpg" alt="Wausau on Water, Wausau, WI" style="height: 150px; width:250px; border-width:2px;"/>
<img src="~/images/cinema.jpg" alt="Marcus Theaters, Wausau, WI" style="height: 150px; width:250px; border-width:2px;" />
<img src="~/images/grandlodge.jpg" alt="Grand Lodge Waterpark Resort, Wausau, WI" style="height: 150px; width:250px; border-width:2px;" />
<br />
<img src="~/images/400block.jpg" alt="Live Concert, Wausau, WI" style="height:150px; width:250px; border-width: 2px; padding-top: 4px;" />
<img src="~/images/ballonrally.jpg" alt="" style="height:150px; width:250px; border-width: 2px; padding-top: 4px;" />

<h2>Following Pictures were from these sources:</h2>

<li>http://play-wow.net/</li>
<li>http://www.marcustheatres.com/</li>
<li>http://www.visitwausau.com/</li>
<li>http://www.ci.wausau.wi.us/</li>
<li>http://www.wsaw.com/</li>